<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.temidummyapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemiDummyApp"
        tools:targetApi="31">

        <!-- ✅ 앱의 시작 Activity 등록 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhotoTemi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".PhotoTemiFilmingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".PhotoTemiPictureSelectActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ✅ Temi Skill 등록 (이 부분 추가) -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />

        <meta-data
            android:name="com.robotemi.sdk.metadata.PERMISSIONS"
            android:value="com.robotemi.permission.camera" />

        <provider
            android:name="com.robotemi.sdk.TemiSdkContentProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="${applicationId}.com.robotemi.sdk" />

    </application>

</manifest>